.Background {
	width: 100vw;
	height: 100vh;
	background: url('/img/Invasion_of_starGuard.jpg');
	filter: blur(2px);
	opacity: 0.9;
	position: absolute;
	transform: scale(1.02);
	z-index: -1;
}

.item-wrap {
	height: 100%;
	padding: 50px;
	padding-top: 120px;
	display: flex;
	align-items: center;

	.item-list-box {
		width: 40%;
		min-height: 641px;
		background-color: rgb(44, 62, 80);
		display: grid;
		grid-template-rows: 50px auto;
		grid-template-columns: 45px auto;

		.spacer {
			width: 45px;
			height: 50px;
			border-bottom: 1px solid rgb(93, 109, 126);
			border-right: 1px solid rgb(93, 109, 126);
		}

		.searchContainer {
			display: flex;
			justify-content: center;
			align-items: center;
			position: relative;

			.searchInput {
				width: 90%;
				height: 35px;
				padding: 5px 40px;
				font-size: 1.5rem;
				background-color: rgb(33, 47, 61);
				border: 1px solid rgb(93, 109, 126);
				color: #fff;
				outline: none;

				::placeholder {
					color: rgb(93, 109, 126);
				}
			}

			.searchIcon {
				font-size: 2rem;
				color: rgb(93, 109, 126);
				position: absolute;
				left: 7%;
			}
		}

		.filterContainer {
			.itemFilterBox {
				width: 100%;
				height: 45px;
				display: flex;
				justify-content: center;
				align-items: center;

				:hover {
					cursor: pointer;
					background-color: #fff;
				}

				img {
					width: 55%;
					height: 55%;
					color: #bd9e59;
					filter: invert(62%) sepia(28%) saturate(632%) hue-rotate(3deg) brightness(97%)
						contrast(90%);
				}
			}
		}
	}
}
